#wrap{position: relative;float: left;width: 100%;border: 1px solid red;}
body, html {
/*zgrywanie zdjęcia*/
  background-image: url("img/blue.jpg");

/*pełny wymiar*/
  height: 100%;

/*wycentrowanie i wyskalowanie obrazu*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}